* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f2f5;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: #ff5050;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-bottom: 2px solid black;
}

header button {
  padding: 10px;
  background-color: white;
  color: rgb(6, 6, 6);
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s;
}

header div {
  width: 30%;
}

header div button {
  width: 100%;
}

header button:hover {
  background-color: #e0e0e0;
}

header nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

header a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.box {
  background: white;
  padding: 2rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.box h2 {
  margin-bottom: 1.5rem;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  padding: 10px;
  background-color: #3b4cca;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s;
}

button:hover {
  background-color: #2a3990;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;

  a{
    color: white;
    text-decoration: underline;
  }
}

.destaque {
  color: #ff5050;
}

/* Manter daqui pra baixo! */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro transparente */
  display: flex;
  justify-content: flex-end; /* Alinha a janela à direita */
  z-index: 1000;
}

.side-window {
  background-color: white;
  width: 400px; /* Largura da janela */
  height: 100%;
  padding: 2rem;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-out; /* Animação de entrada */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.close-btn {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

/* Animação para deslizar da direita */
@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}